@media(width<=1024px) {
    html {
        font-size: 62%;
    }

    .navbar ul {
        display: none;
    }

    #menu_icon {
        display: block;
    }

}

@media(width<=870px) {
    .home-container h1 {
        font-size: 5rem;
    }

}

@media(width<=770px) {
    html {
        font-size: 55%;
    }
}

@media(width<=630px) {
    .home-container h1 {
        font-size: 3.5rem;
    }

    .home-container .p1 {
        font-size: 2.2rem;
    }

    .home-container .p2 {
        font-size: 2rem;
    }

    .home-container a {
        padding-top: 7.7px;
    }

}